body {
    background-color: cyan;

}
h4 {
    color: gold;
}

.likes {
    color:orange;
}
.dislikes {
    color:peachpuff
}

div {
    width: 300px;
    border: 15px solid green;
    padding: 250px;
    margin: 20px;
}